[core]
	editor = vim
[color]
	ui = true
[alias]
	lg = log --color --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[push]
	default = simple
[merge]
	tool = vimdiff
