[core]
	editor = vim
	pager = command -v delta >/dev/null 2>&1 && exec delta || exec less
[color]
	ui = true
[alias]
	lg = log --color --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[push]
	default = simple
[merge]
	tool = vimdiff
[pull]
	rebase = true
[interactive]
	diffFilter = command -v delta >/dev/null 2>&1 && exec delta --color-only || exec cat
[delta]
	navigate = true
